<% provide(:title, '¿Quiénes Somos?') %>
<h1>¿Quiénes Somos?</h1>
<p>
  Puedes obtener ayuda sobre el Tutorial de Rails en la
  <a href="http://railstutorial.org/help">página de ayuda del Tutorial de Rails</a>.
  Para obtener ayuda sobre esta aplicación de ejemplo, revisa el
  <a href="http://railstutorial.org/book">libro Tutorial de Rails</a>.
</p>